body {
    font-family: Arial, 'Times New Roman', Times, serif;
    background-color: #12124b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: transparent;
    border: none;
}
.container {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: #2a2a2b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
h1 {
    text-align: center;
    color: #ffffff;
}
p{
        text-align: center;
        color: #ffffff;
        padding: 3px;
        font-size: 0.4cm;
      
}
h3{
    color: white;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ffffff;
    color: #ffffff;
}
th {
    background-color: #424141;
    color: white;
}
tr:nth-child(even) {
    background-color: #424141;
}
.protocol-details {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #424141;
    border-radius: 8px;
}
.protocol-details p {
    margin: 5px 0;
    color: white;
}
.show-details {
    color: #1278e5;
    cursor: pointer;
    font: 1.3em Arial;
}
.protocol-details{
    display:none;
}
.protocol-details.visible{
    display: block;
}
div img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
div span{
    display:block;
}
